<head>
    <link rel="stylesheet" href="/css/partials/header.css">
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
 </head>
 
 <header>
     <nav class="sticky-nav sticky-top">
        <picture class="logo" >
            <a href="/"><img src="/img/Logofunkoorange.svg" alt="logo"></a>
        </picture>
        <div class="burger-menu" id="burger">
            <span class="iconify" data-icon="charm:menu-hamburger"></span>
        </div>
        <div id="menu" class="menu show">
            <div class="search-bar-container">
                <li class="search-bar">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Buscar">
                </li>
            </div>
            <div class="nav-bar-header">
                <ul class="links-container">
                    <li> <a href="/">Productos</a></li>                
                    <li>
                        <a href="/shopping-cart">
                            <i class="fas fa-shopping-cart"></i></a>
                    </li>
                <% if(userLogged){%>
                    <ul>
                        <li> 
                            <a  href="/user/profile">
                            
                            <img id="profilePicture" src="/img/profilePictures/<%= userLogged.profile_picture%> "> 
                            Hola <%=userLogged.user_name%>
                        </a>
                        </li>
                        <li> <a href="/user/logout">Cerrar sesión</a></li>
                    </ul>
                    <% }else { %>
                    <li>
                        <a href="/user/register">Regístrate</a>
                    </li>                   
                    <li class="login-bar">
                        <a href="/user/login">Ingresar</a>
                    </li>
                    <% } %>                       
                
                </ul>
            </div>
        </div>
        
     </nav>
 </header>
 <body>
     <script src="/js/burgerMenu.js"></script>
 </body>

