<head>
    <link rel="stylesheet" href="/css/partials/footer.css">
 </head>
 
<!-- Footer-->
<footer>
    <nav class="nav-footer">
        <picture class="logo-footer">
            <img src="/img/logo-blanco.png" alt="">
        </picture>
        <ul>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </nav>
    <div class="copy">
        <i class="far fa-copyright"></i>
        <p>Estudiantes Digital House Grupo 9</p>
    </div>
</footer>
