<head>
   <link rel="stylesheet" href="/css/partials/header.css">
</head>

<header>
    <nav class="sticky-nav sticky-top">
        
       
        <picture class="logo" >
            <a href="/"><img src="/img/logo-blanco.png" alt="logo"></a>
        </picture>
                <div class="search-bar-container">
                    <li class="search-bar"><i class="fas fa-search"></i><input type="text" placeholder="Buscar"> </li>
                </div>
        <div class="nav-bar-header">
            <ul class="links-container">
                    <li> <a href="/">Productos</a></li>                
                <li><a href="/shopping-cart"><i class="fas fa-shopping-cart"></i></a></li>
                <% if(locals.isLogged){%>
                <ul>
                    <li> 
                        <a  href="/user/profile"> 
                            <img id="profilePicture" src="/img/profilePictures/<%= user.profile_picture%> "> 
                            Hola <%=user.userLogged.userName%>
                        </a>
                    </li>
                    <li> <a href="/user/logout">Cerrar sesión</a></li>
                   
                    
                </ul>
                <% }else { %>
                <li><a href="/user/register">Regístrate</a></li>                   
                <li class="login-bar"><a href="/user/login"><i class="fas fa-user"></i></a><a class="login-text" href="/user/login">login</a></li>
                <% } %>

                <li> <a href="/user/logout">Cerrar sesión</a></li> <!--Provisional para cerrar sesion mientras se soluciona lo de sessions cuando se el usuario ingresa-->
                          
                
            </ul>            
    </nav>
</header>

