<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <script src="https://kit.fontawesome.com/6fda1860f4.js" crossorigin="anonymous"></script>
    <title>Bienvenido a Funkoshop</title>
</head>
<body>
    <header>
        <nav class="sticky-nav">
            <picture class="logo" >
                <img src="img/logo-blanco.png" alt="logo">
            </picture>
            <div class="nav-bar-header">
                <ul>
                    <li> <a href="home.html ">Productos</a></li>
                    <li class="search-bar"><i class="fas fa-search"></i><input type="text" placeholder="Buscar"> </li>
                    <li><a href="carrito-compras.html"><i class="fas fa-shopping-cart"></i></a></li>                   
                    <li class="login-bar"><a href="login.html"><i class="fas fa-user"></i></a><a class="login-text" href="#login">Login</a></li>
                </ul>   
            </div>           
        </nav>
    </header>
    <section class="banner">
        <div>
        <img src="/img/banner harry.PNG" alt="">
        </div>
    </section>
    <main>
        <section class="productos">
            <h2>Nuevos lanzamientos</h2>
            <div class="lanzamientos">
                <article class="target">
                    <img src="/img/General/Ang Avatar.PNG" alt="">
                    <div>
                        <p class="name-product">Avatar maestro del aire</p>
                        <p> $35.000</p>
                        <form action="" method="post">
                            <button type="submit">Añadir al carrito</button>
                        </form>
                    </div>
                </article>
                <article class="target">
                    <img src="/img/General/Ashi.PNG" alt="">
                    <div>
                        <p class="name-product">Ashi samurai</p>
                        <p> $32.000</p>
                        <form action="" method="post">
                            <button type="submit">Añadir al carrito</button>
                        </form>
                    </div>
                </article>
                <article class="target">
                    <img src="/img/General/Donatelo.PNG" alt="">
                    <div>
                        <p class="name-product">Donatelo tortugas ninja</p>
                        <p> $37.000</p>
                        <form action="" method="post">
                            <button type="submit">Añadir al carrito</button>
                        </form>
                    </div>
                </article>
                <article class="target">
                    <img src="/img/General/Kramer buen policia.PNG" alt="">
                    <div>
                        <p class="name-product">Kramer buen policia</p>
                        <p> $35.000</p>
                        <form action="" method="post">
                            <button type="submit">Añadir al carrito</button>
                        </form>
                    </div>
                </article>
                <article class="target">
                    <img src="/img/General/Wall-e.PNG" alt="">
                    <div>
                        <p class="name-product">Wall-e</p>
                        <p> $38.000</p>
                        <form action="" method="post">
                            <button type="submit">Añadir al carrito</button>
                        </form>
                    </div>
                </article>
                <article class="target">
                    <img src="/img/General/Dexter.PNG" alt="">
                    <div>
                        <p class="name-product">Dexter</p>
                        <p> $42.000</p>
                        <form action="" method="post">
                            <button type="submit">Añadir al carrito</button>
                        </form>
                    </div>
                </article>
                <article class="target">
                    <img src="/img/General/Arthur espada.PNG" alt="">
                    <div>
                        <p class="name-product">Arthur espada</p>
                        <p> $35.000</p>
                        <form action="" method="post">
                            <button type="submit">Añadir al carrito</button>
                        </form>
                    </div>
                </article>
                <article class="target">
                    <img src="/img/General/Eve.PNG" alt="">
                    <div>
                        <p class="name-product">Eve</p>
                        <p> $35.000</p>
                        <form action="" method="post">
                            <button type="submit">Añadir al carrito</button>
                        </form>
                    </div>
                </article>
            </div>


        </section>
        
        
       
    </main>
    <section class="banner-publicitario">
        <img src="/img/Banner-publicidad.PNG" alt="">
    
    </section>
     <!-- Footer-->
     <footer>
        <nav class="nav-footer">
            <picture class="logo-footer">
                <img src="img/logo-blanco.png" alt="">
            </picture>
            <ul>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </nav>
        <div class="copy">
            <i class="far fa-copyright"></i>
            <p>Estudiantes Digital House Grupo 9</p>
        </div>
    </footer>

    
</body>
</html>