<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <script src="https://kit.fontawesome.com/6fda1860f4.js" crossorigin="anonymous"></script>
    <title>Bienvenido a Funkoshop</title>
</head>
<body>
    <!-- HEADER-->
  <%- include('partials/header') %>

    <section class="banner">
        <div>
        <img src="/img/banner harry.PNG" alt="">
        </div>
    </section>
    <main>
        <section class="productos">
            <h2>Nuevos lanzamientos</h2>
            <div class="lanzamientos">
                <article class="target">
                    <img src="/img/General/Ang Avatar.PNG" alt="">
                    <div>
                        <p class="name-product">Avatar maestro del aire</p>
                        <p> $35.000</p>
                        <form action="" method="post">
                            <button type="submit">Añadir al carrito</button>
                        </form>
                    </div>
                </article>
                <article class="target">
                    <img src="/img/General/Ashi.PNG" alt="">
                    <div>
                        <p class="name-product">Ashi samurai</p>
                        <p> $32.000</p>
                        <form action="" method="post">
                            <button type="submit">Añadir al carrito</button>
                        </form>
                    </div>
                </article>
                <article class="target">
                    <img src="/img/General/Donatelo.PNG" alt="">
                    <div>
                        <p class="name-product">Donatelo tortugas ninja</p>
                        <p> $37.000</p>
                        <form action="" method="post">
                            <button type="submit">Añadir al carrito</button>
                        </form>
                    </div>
                </article>
                <article class="target">
                    <img src="/img/General/Kramer buen policia.PNG" alt="">
                    <div>
                        <p class="name-product">Kramer buen policia</p>
                        <p> $35.000</p>
                        <form action="" method="post">
                            <button type="submit">Añadir al carrito</button>
                        </form>
                    </div>
                </article>
                <article class="target">
                    <img src="/img/General/Wall-e.PNG" alt="">
                    <div>
                        <p class="name-product">Wall-e</p>
                        <p> $38.000</p>
                        <form action="" method="post">
                            <button type="submit">Añadir al carrito</button>
                        </form>
                    </div>
                </article>
                <article class="target">
                    <img src="/img/General/Dexter.PNG" alt="">
                    <div>
                        <p class="name-product">Dexter</p>
                        <p> $42.000</p>
                        <form action="" method="post">
                            <button type="submit">Añadir al carrito</button>
                        </form>
                    </div>
                </article>
                <article class="target">
                    <img src="/img/General/Arthur espada.PNG" alt="">
                    <div>
                        <p class="name-product">Arthur espada</p>
                        <p> $35.000</p>
                        <form action="" method="post">
                            <button type="submit">Añadir al carrito</button>
                        </form>
                    </div>
                </article>
                <article class="target">
                    <img src="/img/General/Eve.PNG" alt="">
                    <div>
                        <p class="name-product">Eve</p>
                        <p> $35.000</p>
                        <form action="" method="post">
                            <button type="submit">Añadir al carrito</button>
                        </form>
                    </div>
                </article>
            </div>


        </section>
        
        
       
    </main>
    <section class="banner-publicitario">
        <img src="/img/Banner-publicidad.PNG" alt="">
    
    </section>

     <!-- FOOTER-->
     <%- include('partials/footer') %>

    
</body>
</html>