<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Forma de importar estilos no tan eficiente mejor en el archivo CSS
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> <!--Libreria fontawesome-->
    <link rel="stylesheet" href="/css/login.css"> <!--Enlazar HTML y CSS-->

</head>
<body>

    <%- include('partials/header') %>

    <main class="login">
        <h3>Ingresa tus datos:</h3>
        <form action="/" method="POST">
            <input type="text" name="user" placeholder="Nombre de usuario" minlength="8"  maxlength="10" required>
            <input type="password" name="pass" placeholder="Elegí tu contraseña" required>
            <input class="btn" type="submit" value="Enviar">
        </form>
    </main>
    <!--FOOTER-->
    <%- include("./partials/footer.ejs")%>
</body>
</html>