<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Forma de importar estilos no tan eficiente mejor en el archivo CSS
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> <!--Libreria fontawesome-->
    <link rel="stylesheet" href="/css/login.css"> <!--Enlazar HTML y CSS-->

</head>
<body>

    <%- include('partials/header') %>

    <main class="login">
        
        <form action="/user/login" method="POST">
            <h3>Iniciar Sesi칩n </h3>
            <label for="email">Correo electr칩nico
                <input type="email" name="email" id="email" placeholder="Correo electronico">
            <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
    
                    <%= errors.email.msg %>
                </div>
                <% } %>
            </label>         
           
            <label for="password"> Contrase침a
                <input type="password" name="password" id="password" placeholder="Ingresa tu contrase침a">
            </label>
            <label for="remember_user"> Recordar Usuario
                <input type="checkbox" name="remember_user" id="remember_user"> 
            </label>            
            <input class="btn" type="submit" value="Ingresar">

        </form>
    </main>
    <!--FOOTER-->
    <%- include("./partials/footer.ejs")%>
</body>
</html>