<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <!-- Forma de importar estilos no tan eficiente mejor en el archivo CSS
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> <!--Libreria fontawesome-->
    <link rel="stylesheet" href="/css/detalle-producto.css"> <!--Enlazar HTML y CSS-->
</head>
<body>
    <header>
        <nav class="sticky-nav">
            <picture class="logo" >
                <img src="img/logo-blanco.png" alt="logo">
            </picture>
            <div class="nav-bar-header">
                <ul>
                    <li> <a href="home.html ">Productos</a></li>
                    <li class="search-bar"><i class="fas fa-search"></i><input type="text" placeholder="Buscar"> </li>
                    <li><a href="carrito-compras.html"><i class="fas fa-shopping-cart"></i></a></li>                   
                    <li class="login-bar"><a href="login.html"><i class="fas fa-user"></i></a><a class="login-text" href="#login">Login</a></li>
                </ul>   
            </div>           
        </nav>
    </header>
    <main>
        <!-- Detail Product Section-->
        <section class="detail-product-section">
            <article>
                <div class="gallery-image">
                    <picture class="order-reverse">
                        <img src="img/deadepool.jpg" alt="Funko Deadpool barista">
                        <img src="img/caja-deadpool.jpg" alt="Caja Funko Deadppool">
                    </picture>
                    <picture class="main-image-product">
                        <img src="img/deadepool.jpg" alt="Funko Deadpool barista">
                    </picture>
                </div>
                <div class="description-product">
                    <h1>Funko Pop Marvel: Deadpool Barista</h1>
                    <p>$60.000</p>
                    <div class="select-button-pair">
                        <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option><option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <button>Comprar Ahora</button>
                        <button>Agregar al carrito</button>
                    </div>
                </div>
            </article>
        </section>
        <!--Others Products-->
        <section class="recommendations-section">
            <h2>Recomendaciones</h2>
            <div class="container-recommendations">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <article class="recommendation-product">
                    <img src="img/capitan-america.jpg" alt="Capitan America">
                    <div class="product-price">
                        <h3>Funko Pop Marvel: Capitan America</h3>
                        <p>$60.000</p>
                        <div class="button-view-details">
                            <button > Ver Detalles</button>
                        </div>
                    </div>
                </article>
                <article class="recommendation-product medium-height">
                    <img src="img/profesor x.jpg" alt="Profesor X">
                    <div class="product-price">
                        <h3>Funko Pop Marvel: Profesor X</h3>
                        <p>$60.000</p>
                        <div class="button-view-details">
                            <button> Ver Detalles</button>
                        </div>
                    </div>
                </article>
                <article class="recommendation-product small-height">
                    <img src="img/thanos.jpg" alt="Thanos">
                    <div class="product-price">
                        <h3>Funko Pop Marvel: Thanos</h3>
                        <p>$60.000</p>
                        <div class="button-view-details">
                            <button > Ver Detalles</button>
                        </div>
                    </div>
                </article>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </section>
    </main>

    <!-- Footer-->
    <footer>
        <nav class="nav-footer">
            <picture class="logo-footer">
                <img src="img/logo-blanco.png" alt="">
            </picture>
            <ul>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </nav>
        <div class="copy">
            <i class="far fa-copyright"></i>
            <p>Estudiantes Digital House Grupo 9</p>
        </div>
    </footer>
    
</body>
</html>