<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopping-cart</title>
    <!-- Forma de importar estilos no tan eficiente mejor en el archivo CSS
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> <!--Libreria fontawesome-->
    <link rel="stylesheet" href="/css/shopping-cart.css"> <!--Enlazar HTML y CSS-->
</head>
<body>
     <!-- HEADER-->
  <%- include('partials/header') %>
    <main>
        <!-- Detail Product Section-->
        <section class="product-list">
            <article class="product-1">
                <img src="img/profesor x.jpg" alt="Profesor X">
                <div class="product-price">
                    <h3>Profesor X</h3>
                    <div class="button-view-details">
                        <button>+ 1 -</button>
                    </div>
                    <div class="button-view-details">
                        <button>borrarIcon</button>
                    </div>
                    <p>$60.000</p>
                    <p>$60.000</p>
                </div>
            </article>
        </section>

        <section class="summary">
            <article class="summary-content">
                    <h2>PRODUCTOS: X</h2>
                    <p>
                    Esta semana descuentos entre el 10 - 15% en nuestra seccion de anime <br>
                    Y muchos descuentos más
                    </p>
                    <h2>SUBTOTAL: X $</h2>
                    <p>
                    Descuento del 10 % por tu<br>
                    compra en línea + envío gratis
                    </p>
                    <h2>TOTAL: X $</h2>
                    <div class="button-view-details">
                        <button>Comprar</button>
                    </div>
                    <p>
                        Terminos & Condiciones
                    </p>
            </article>
        </section>
        <!--Others Products-->
    </main>

    <!-- FOOTER-->
   <%- include('partials/footer') %>
    
    
</body>
</html>