@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");


/* NORMALIZACIÓN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/* VARIABLES */  

html {
    font-size: 62.5%;
    font-family:var(--roboto);
  }
main {
    background-color: var(--blanco);
}
:root{
    /* Colores ---- */  
    --negro: #000000;
    --blanco: #ffffff;
    --gris: #f4f4f4;
    --gris-medio: #e7e7e7;
    --gris-oscuro: #aaaaaa;

    /* Tamaños de fuentes ---- */
    --text-sm: 1.2em;
    --text-md: 1.6em;
    --text-lg: 1.8em;
    --title-md: 2.4em;

    /* Familias de fuentes ---- */
    --roboto: "roboto";
}



/* CREATE and EDIT fornm */
section.product-edit{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    gap: 2em;
    margin: 2em;
    background-color: var(--blanco);
    padding-bottom: 2em;
}

section.product-edit h1{
    font-size: var(--title-md);
    text-align: center;
}
form.form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    font-size: var(--title-md);
}
div.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
}
div.data input, textarea{
    width: 100%;
    padding: 1em;
    border: 1px solid;
    border-radius: 10px;
    
}
div.data input#imagen-producto{
    border: none;
}

div.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
    
}

div.buttons input{
    padding: .5em;
    width: 80%;
    background-color: var(--negro);
    color: var(--blanco);
    border: none;
    border-radius: 1% / 15%;
}
div.buttons input:hover{
    background-color: var(--blanco);
    color: var(--negro);
    border: 1px solid var(--negro);
    transform: scale(1.2);
}


/* Footer*/
footer{
    background-color: var(--negro);
    display: flex;
    flex-direction: column;
}
nav.nav-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;

}
nav.nav-footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    font-size: var(--text-md);
}

nav.nav-footer ul li a{
    color: var(--blanco);
}
picture.logo-footer{
    width: 50%;
    align-items: center;
    justify-content: center;
}
picture.logo-footer img{
    width: 100%;
}



footer div.copy{
    color: var(--blanco);
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: var(--text-sm);
    align-items: center;
    padding: 2rem;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 460px) {

    /*Footer*/
    nav.nav-footer ul li a{
        font-size: var(--text-lg);
    }
}

@media screen and (min-width: 768px) {
   
    /*CREATE and EDIT FORM*/
    section.product-edit {
        padding-top: 60px;
    }
    form.form-container {
        width: 90%;
    }
    div.data{
        flex-direction: row;
    }
    div.data label{
        width: 50%;
    }

    div.buttons {
        flex-direction: row;
        gap: 2em;
    }

    div.buttons input {
        width: 30%;
    }
    /*Footer*/
    picture.logo-footer img {
        width: 48%;
    }    
}

@media screen and (min-width: 1024px)  {

    /* CREATE and EDIT FORM*/
    form.form-container{
        width: 50%;
    }
    div.data textarea {
        padding: 1em;
        height: 100px;
    }
    div.buttons input {
        width: 20%;
    }
    div.data input, textarea {
        padding: 1.5em;
    }
    
 
}

@media screen and (min-width:1440px) {
   
    /*FOOTER*/
    picture.logo-footer img {
        width: 40%;
    }
    
}