@import url("./partials/defaultStyles.css");


.row {
    justify-content: center;
    }

.collection h2{
    margin-top: 10%;
}

/*BANNER*/
section.banner{
    font-family: var(--lato);
    display: flex;
    margin-top: 54px;
    width: 100%;
}

section.banner div.container-items-banner{
    background-image: url("../img/backgroundBanner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 22vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    gap: 2.2em;
    width: 100%;


}

div.banner-text{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: .5em;
    justify-content: flex-start;
    align-content: flex-start;
    width: 40%;

}

.banner-text h1{
    color:var(--main-orange);
    font-size: var(--title-md);
    font-weight: 800;
    width: 100%;
    font-family: var(--lato);
    text-align: center;
}

section.banner p{
    align-self: center;
    color: var(--blanco);
    text-align: center;
}

.banner-text a{
    text-decoration: none;
    background-color: var(--main-orange);
    color: var(--blanco);
    outline: none;
    font-weight: 800;
    align-self: center;
    border: none;
    padding: .5em 1em;
    border-radius: 26px;
}
.banner-funko{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
section.banner img{
    width: clamp(120px, 80%, 440px);
    height: auto;
    border-radius: 50%;
}
/*ENDS BANNER*/
/* Recommendations section*/

.prev, .next {
    display: none;
}

section.recommendations-section{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

h2{
    font-size: var(--title-md);
    padding: 1rem;
    margin: .5rem;
    text-transform: uppercase;
    color: var(--main-orange);
    font-weight: 800;
}
section.recommendations-section div{
    align-items: center;
    width: 100%;

}
div.container-recommendations {
    display: flex;
    padding: 3rem .5rem;
    justify-content: center;
}
article.recommendation-product {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-backGround);
    padding-top: 3em;
    
}

article.recommendation-product:hover {
    border: 2px var(--main-orange) solid;
}

article.recommendation-product img{
width: 80%;
}   
div.product-price {    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
article.recommendation-product div h3 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--text-lg);
    padding: .5em 1em;
    text-transform: uppercase;
    font-weight: 800;
    
}

article.recommendation-product div p{
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 48px;
    font-size: var(--text-md);
    padding: 0 1em;
}

div.product-price p:nth-child(3){
    color: var(--main-orange);
    font-weight: 800;
}


div.button-view-details{
    width: 100%;
    background-color: var(--main-orange);
    padding: 1em 0;
}


div.button-view-details a{
    text-decoration: none;
    text-decoration: no;
    color: var(--blanco);
    font-size: var(--text-md);
    font-weight: 800;
    
}
/*ENDS RECOMMENDATIONS*/

/*MEDIA QUERIES*/

@media screen and (min-width: 375px) {
    

    section.banner p {
        font-size: var(--text-sm);
        }
}

@media screen and (min-width: 550px) {

 
        /* banner */
        section.banner div.container-items-banner{
        height: 30vh;
    }
    
}

@media screen and (min-width: 768px) {
    /* banner */

    section.banner {
        margin-top: 77px;
    }
    section.banner div.container-items-banner{
        padding: 2em;
        height: 40vh;
    }


    .banner-text h1{
        font-size: var(--big-tittle);
    }

    section.banner p{
        font-size: var(--text-md);
    }
    

}

@media screen and (min-width:1024px) {
    /* banner */
    section.banner {
        margin-top: 92px;
    }
    section.banner div.container-items-banner{
        height: 60vh;
        
    }

    div.banner-text {
        gap: 3em;
        }

    section.banner p{
        font-size: var(--title-md);
    }

    .banner-text a {
        text-decoration: none;
        font-size: var(--text-lg);
        }


}
