
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");


/* NORMALIZACIÓN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/* VARIABLES */  



:root{
    /* Colores ---- */  
    --negro: #000000;
    --blanco: #ffffff;
    --gris-claro: #ebebeb;

    /* Tamaños de fuentes ---- */
    --text-sm: 1.2em;
    --text-md: 1.6em;
    --text-lg: 1.8em;
    --title-md: 2.4em;

    /* Familias de fuentes ---- */
    --roboto: "roboto";
}


/* ESTILOS COMUNES */

html {
    font-size: 62.5%;
    font-family:var(--roboto);
  }


h2{
    font-size:var(--title-md);
    margin: 10px;
    font-family: var(--roboto);
}


/* HEADER */  
header{
    background-color: var(--negro);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

picture.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5rem;
}

picture.logo img{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

}

nav.sticky-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    flex-direction: column;
    background-color: var(--negro);
   
}
nav.sticky-nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 1rem;
    list-style: none;
    padding: .5rem  ;
}
nav.sticky-nav ul li a {
    text-decoration: none;
    color: var(--blanco);
    font-size: var(--text-md);
    font-family: var(--roboto);
}
nav.sticky-nav ul li i{
    text-decoration: none;
    color: var(--white);
    margin-right: .5rem;
}
nav.sticky-nav ul li input{
    border: none;
    padding-left:.5rem ;
    width: 100%;
}

li.search-bar{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color: var(--blanco);
    padding: 1rem;
    border-radius: 20% / 100%;
    width: 50%;
}
.fa-user:before{
    color: var(--blanco);
}

li.login-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

a.login-text {
    display: none;
}






/* BANNER */

section.banner img{
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin: 0% 2.5%;
}

.banner div{
    width: 100%;
    height: 20%;
}



/* MAIN */

main{
    width: 100%;
}

.productos{
    margin: 3%;
}

main section article img{
  width: 90%;  
}

.lanzamientos{
    margin: 10px;
}

.target{
    margin: 5% 0%;

}
main section article div p{
    font-size: var(--text-md);

}

.name-product{
    font-weight: 500;
    font-size: var(--text-lg);
}

main section article{
    box-shadow: 20px black;
}

section.banner-publicitario img{
    width: 95%;
    margin: 2.5%;
}

main section article form button{
    padding: 2% 14%;
    border-radius: 20px;
    margin: 3% 1% 0% 5%;
}

/* FOOTER*/
footer{
    background-color: var(--negro);
    display: flex;
    flex-direction: column;
}
nav.nav-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;

}
nav.nav-footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    font-size: var(--text-md);
}

nav.nav-footer ul li a{
    color: var(--blanco);
}
picture.logo-footer{
    width: 50%;
    align-items: center;
    justify-content: center;
}
picture.logo-footer img{
    width: 100%;
}

footer div.copy{
    color: var(--blanco);
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: var(--text-sm);
    align-items: center;
    padding: 2rem;
}




           /* RESPONSIVE */


/* RESPONSIVE HEADER */

@media screen and (min-width: 460px){
    li.search-bar{
        border-radius: 10% / 100%;
        width: 50%;
    }

    nav.sticky-nav ul {
        justify-content: space-evenly;
    }

}

@media screen and (min-width: 768px){
    header {
        flex-direction: row;
    }
    picture.logo{
        flex-direction: row;
        width: 30%;
        justify-content: space-between;
        margin-top: 0;
    }
    picture.logo img {
        width: 80%;
        margin-bottom: 0;
    }
    div.nav-bar-header{
        display: flex;
        align-items: center;
    }
    nav.sticky-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
    }

    nav.sticky-nav ul{
        width: 100%;
        margin-bottom: 0;
        gap: 2rem;
    }
    a.login-text{
        display: flex;
    }
    li.search-bar{
        padding: .7rem;
    }
    li.login-bar{
        gap: .3rem;
    }

}

@media screen and (min-width: 1024px){
    picture.logo img {
        width: 70%;
    }

    nav.sticky-nav ul{
        gap: 2rem;
    }
    div.nav-bar-header{
        width: 50%;
        gap: 1rem;
    }
    nav.sticky-nav ul{
        justify-content: flex-end;
    }

    li.search-bar{
        width: 80%;
    }

}

@media screen and (min-width:1440px){
    li.search-bar {
        border-radius: 5% / 100%;
    }

}


/* RESPONSIVE HEADER */

@media screen and (min-width: 436px){
    section.banner img {
        margin: 23% 2.5% 0%;
    }
}

@media screen and (min-width: 460px){
    section.banner img {
        margin: 22% 2.5% 0%;
    }
}

@media screen and (min-width: 514px){
    section.banner img {
        margin: 21% 2.5% 0%;
    }
}

@media screen and (min-width: 554px){
    section.banner img {
        margin: 20% 2.5% 0%;
    }
}

@media screen and (min-width: 604px){
    section.banner img {
        margin: 19% 2.5% 0%;
    }
}

@media screen and (min-width: 658px){
    section.banner img {
        margin: 18% 2.5% 0%;
    }
}

@media screen and (min-width: 715px){
    section.banner img {
        margin: 17% 2.5% 0%;
    }
}

@media screen and (min-width: 758px){
    section.banner img {
        margin: 16% 2.5% 0%;
    }
}

@media screen and (min-width: 768px){
    section.banner img {
        margin: 7% 2.5% 0%;
    }
}

@media screen and (min-width: 848px){
    section.banner img {
        margin: 6% 2.5% 0%;
    }
}

@media screen and (min-width: 988px){
    section.banner img {
        margin: 5% 2.5% 0%;
    }
}

@media screen and (min-width: 1308px){
    section.banner img {
        margin: 4% 2.5% 0%;
    }
}


/* RESPONSIVE MAIN */

@media screen and (min-width: 361px) {

    .lanzamientos{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;

    }

    .lanzamientos article{
        width: 50%;
        
    }
    
}




@media screen and (min-width: 768px){

    .lanzamientos article{
        width: 25%;
        
    }   
    
}


/* RESPONSIVE FOOTER */

@media screen and (min-width: 460px){
    nav.nav-footer ul li a{
        font-size: var(--text-lg);
    }

}


@media screen and (min-width: 768px){
    picture.logo-footer img {
        width: 48%;
    }   

}

@media screen and (min-width: 1024px){
    picture.logo-footer img {
        width: 50%;
    }

}

@media screen and (min-width:1440px){
    picture.logo-footer img {
        width: 40%;
    }
}