@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

/* NORMALIZACIÓN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */

html {
  font-size: 62.5%;
  font-family: var(--roboto);
}

html,
main {
  font-size: 12px;
}

:root {
  /* Colores ---- */
  --negro: #000000;
  --blanco: #ffffff;
  --gris: #f4f4f4;
  --gris-medio: #e7e7e7;
  --gris-oscuro: #aaaaaa;

  /* Tamaños de fuentes ---- */
  --text-sm: 1.2em;
  --text-md: 1.6em;
  --text-lg: 1.8em;
  --title-md: 2.4em;

  /* Familias de fuentes ---- */
  --roboto: "roboto";
}

/*MAIN*/
/* LOGIN */

.login h3 {
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-size: var(--title-md);
  font-weight: 500;
}

.login form {
  width: 60%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.login form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 2% auto;
  width: 70%;
}

.login form input[type="text"] {
  color: var(--gris-oscuro);
}

.login .btn {
  background-color: var(--gris);
  color: var(--negro);
  width: 50%;
  transition: background 0.5s ease;
}

.login .btn:hover {
  background-color: var(--gris);
}

/*MEDIA QUERIES*/
@media screen and (min-width: 460px) {
 
  nav.sticky-nav ul {
    justify-content: space-evenly;
  }
  /*Recommendations section*/

  div.container-recommendations {
    border-radius: 10% / 3%;
  }

}

@media screen and (min-width: 768px) {
  
  /*MAIN*/

}
@media screen and (min-width: 856px) {
  article.small-height button {
    margin-bottom: 4.134rem;
  }
}

@media screen and (min-width: 882px) {
  article.medium-height button {
    margin-bottom: 0;
  }

  article.small-height button {
    margin-bottom: 2.067rem;
  }
}

@media screen and (min-width: 988px) {
  article.medium-height button {
    margin-bottom: 2.067rem;
  }
}

@media screen and (min-width: 996px) {
  article.medium-height button,
  article.small-height button {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {

  /*MAIN*/

}

@media screen and (min-width: 1440px) {
  /* HEADER*/
  li.search-bar {
    border-radius: 5% / 100%;
  }

 
}
