@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

/* NORMALIZACIÓN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */

html {
  font-size: 62.5%;
  font-family: var(--roboto);
}
main {
  background-color: var(--blanco);
}
body {
  margin-top: 80px;
}
:root {
  /* Colores ---- */
  --negro: #000000;
  --blanco: #ffffff;
  --gris: #f4f4f4;
  --gris-medio: #e7e7e7;
  --gris-oscuro: #aaaaaa;

  /* Tamaños de fuentes ---- */
  --text-sm: 1.2em;
  --text-md: 1.6em;
  --text-lg: 1.8em;
  --title-md: 2.4em;

  /* Familias de fuentes ---- */
  --roboto: "roboto";
}

h1{
  font-size: var(--title-md);
  text-align: center;
}

main section.products-section{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

main section.product-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section.product-container img{
  width: 220px;
}

section.product-container h3{
  font-size:var(--text-lg);
  color: var(--negro);
  margin: 0.5rem;
}

section.product-container p{
  font-size:var(--text-md);
  color: var(--negro);
  margin: 0.5rem;
}

a.view-detail{
  width: 50%;
  text-decoration: none;
  color: var(--blanco);
  background-color: var(--negro);
  border-radius: 12px;
  margin: 0.5rem;
  padding: 0.5rem;
}

button.select-button{
  width: 50%;
  display: flex;
  flex-direction: column;
  color: var(--blanco);
  background-color: var(--negro);
  border: none;
  border-radius: 12px;
  margin: 0.5rem;
  padding: 0.5rem;
  align-items: center;
}


/*MEDIA QUERIES*/
@media screen and (min-width: 460px) {
  
}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1024px) {
  
}

@media screen and (min-width: 1440px) {
  
  }
}
