@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

/* NORMALIZACIÓN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */

html {
  font-size: 62.5%;
  font-family: var(--roboto);
}
main {
  font-size: 12px;
}

:root {
  /* Colores ---- */
  --negro: #000000;
  --blanco: #ffffff;
  --gris: #f4f4f4;
  --gris-medio: #e7e7e7;
  --gris-oscuro: #aaaaaa;

  /* Tamaños de fuentes ---- */
  --text-sm: 1.2em;
  --text-md: 1.6em;
  --text-lg: 1.8em;
  --title-md: 2.4em;

  /* Familias de fuentes ---- */
  --roboto: "roboto";
}

/*VALIDACIONES*/
input.form-input.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background: url('https://api.iconify.design/bxs/error-circle.svg?color=red') no-repeat center center / contain;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

textarea.form-input.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background: url('https://api.iconify.design/bxs/error-circle.svg?color=red') no-repeat center center / contain;
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

div.form-input.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background: url('https://api.iconify.design/bxs/error-circle.svg?color=red') no-repeat center center / contain;
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

select.form-input.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background: url('https://api.iconify.design/bxs/error-circle.svg?color=red') no-repeat center center / contain;
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

div.text-danger{
  color: red;
  box-sizing: border-box;
  display: block;
}

/*MAIN*/
main.credit {
  display: flex; /* para que quede centrado los errores de validacion*/
  flex-direction: column; /* para que quede centrado los errores de validacion*/
  justify-content: center; /* para que quede centrado los errores de validacion*/
  align-items: center; /* para que quede centrado los errores de validacion*/
  background-color: var(--gris-medio);
}

main.credit form h1 {
  font-size: var(--text-lg);
  font-weight: 500;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

main.credit form {
  margin-top: 130px;
  margin-bottom: 40px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blanco);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 5px 5px 3px #aaaaaa62;
}

main.credit label input,
textarea {
  font-family: var(--roboto);
  padding: 10px;
  border-radius: 5px;
  margin: 0.7rem;
  width: 80%;
  height: 38px;
  border: 1px solid var(--gris-oscuro);
}

div.image-container {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.image-container img {
  width: 50px;
}

main.credit form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 0.5rem;
}

.file-upload {
  border: 1px solid var(--gris-oscuro);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  width: 80%;
  margin: 1rem;
}

.file-upload p {
  text-align: center;
  font-weight: 500;
}

input[type="file"] {
  display: none;
}

select#category.form-input {
  width: 72%;
  height: 38px;
}

main.credit form input {
  padding: 10px;
  border-radius: 5px;
  margin: 0.7rem;
  width: 80%;
  border: 1px solid var(--gris-oscuro);
}

.buttons input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30%;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 460px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}
