@import url("./partials/defaultStyles.css");

/*ENDS HEADER*/
/*MAIN*/
/* REGISTER */

div.container-errors{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  color: #e74c3c;
  width: 80%;
}
#errores{
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: .5em;
}

#form-register {
  color: var(--main-orange);
  }

main.register {
  display: flex; /* para que quede centrado los errores de validacion*/
  flex-direction: column; /* para que quede centrado los errores de validacion*/
  justify-content: center; /* para que quede centrado los errores de validacion*/
  align-items: center; /* para que quede centrado los errores de validacion*/
  background-color: var(--card-backGround);
}

main.register form h1 {
  font-size: var(--text-lg);
  font-weight: 800;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

main.register form {
  margin-top: 130px;
  margin-bottom: 40px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blanco);
  padding: 1rem;
  border-radius: 12px;
  border: 2px solid;
}
.form-control {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 2%;
}
main.register form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 0.5rem;
}

.file-upload {
  border: 1px solid var(--main-orange);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  width: 80%;
  margin: 1rem;
}

.file-upload p {
  text-align: center;
  font-weight: 800;
  font-size: var(--text-sm)
}

input[type="file"] {
  display: none;
}

main.register form input {
  padding: 10px;
  border-radius: 5px;
  margin: 0.7rem;
  width: 80%;
  border: 1px solid var(--main-orange);
  background-color: (--blanco);
  outline: none;
}

.buttons input {
  width: 80%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30%;
  background-color: var(--main-orange);
  color: var(--blanco);
  font-weight: 800;
  text-align: center;
}

@media screen and (min-width: 425px) {
  main.register form {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  main.register form {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  main.register form {
    width: 40%;
  }
}

@media screen and (min-width: 1440px) {
  main.register form {
    width: 30%;
  }
}
