@import url("./partials/defaultStyles.css");

 h1 {
    display: block;
    padding-top: 100px;
    text-decoration: none;
    color:black;  
    text-align: center;
}

 .detalle{
  text-align:justify;
  margin: 50px;
  font-size: var(--text-sm);
}

.detalle ul li {
  margin: 5px;
  list-style: none;
}

.botones{
  display: flex;
  text-align:center ;
  margin: 10px 0px;
}

.botones button {
margin: 10px;
font-size: 17px;
width: 78px;
}



@media screen and (min-width: 425px) {
  main.register form {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  main.register form {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  main.register form {
    width: 40%;
  }
}

@media screen and (min-width: 1440px) {
  main.register form {
    width: 30%;
  }
}
