@import url("./partials/defaultStyles.css");

/*MAIN*/

.contain-product {
  padding: 50px;
  margin: 50px;
}

h1 {
  text-align: center;
}

main ul li {
  margin: 5px;
  font-size: var(--text-md);
}


/*MEDIA QUERIES*/
@media screen and (min-width: 460px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}
