@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&family=Supermercado+One&display=swap');


/* NORMALIZACIÓN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/* VARIABLES */  

html {
    font-size: 62.5%;
    font-family:var(--roboto);
  }

:root{
    /* Colores ---- */  
    --negro: #000000;
    --blanco: #ffffff;
    --gris: #f4f4f4;
    --gris-medio: #e7e7e7;
    --gris-oscuro: #aaaaaa;
    --main-orange:#FFB978;
    --card-backGround:#FFF6F199;
    --dark-gray: #323231;



    /* Tamaños de fuentes ---- */
    --text-sm: 1.2em;
    --text-md: 1.6em;
    --text-lg: 1.8em;
    --title-md: 2.4em;
    --big-tittle:4.8em;

    /* Familias de fuentes ---- */
    --roboto: 'roboto';
    --lato:'Lato';
    --supermercado:'Supermercado One';
}

/* Footer*/
footer{
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: column;
}
p{
    margin-bottom: 0;
}
nav.nav-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    padding: 1.5rem;
    border-top: 2px solid var(--main-orange);
  
}
nav.nav-footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    font-size: var(--text-md);
}

/* .fab.fa-facebook,
.fab.fa-instagram,
{
	
} */

nav.nav-footer ul li a{
    color: var(--main-orange);
}
picture.logo-footer{
    width: 50%;
    align-items: center;
    justify-content: center;
}
picture.logo-footer img{
    width: 100%;
}

footer div.copy{
    color: var(--main-orange);
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: var(--text-sm);
    align-items: center;
    padding: 2rem;
}

/*Media Queries*/
@media screen and (min-width: 460px) {
   
    /*Footer*/
    nav.nav-footer ul li a{
        font-size: var(--text-lg);
    }
}

@media screen and (min-width: 768px) {
     /*Footer*/
     picture.logo-footer img {
        width: 48%;
    }
}

@media screen and (min-width: 1024px) {
     /* Footer*/
     picture.logo-footer img {
        width: 50%;
    }
}

@media screen and (min-width: 1440px){
     /*FOOTER*/
     picture.logo-footer img {
        width: 40%;
    }
}