@import url("./defaultStyles.css");

/* Footer*/
footer{
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: column;
}
p{
    margin-bottom: 0;
}
nav.nav-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    padding: 1.5rem;
    border-top: 2px solid var(--main-orange);
  
}
nav.nav-footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    font-size: var(--text-md);
}

/* .fab.fa-facebook,
.fab.fa-instagram,
{
	
} */

nav.nav-footer ul li a{
    color: var(--main-orange);
}
picture.logo-footer{
    width: 50%;
    align-items: center;
    justify-content: center;
}
picture.logo-footer img{
    width: 100%;
}

footer div.copy{
    color: var(--main-orange);
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: var(--text-sm);
    align-items: center;
    padding: 2rem;
}

/*Media Queries*/
@media screen and (min-width: 460px) {
   
    /*Footer*/
    nav.nav-footer ul li a{
        font-size: var(--text-lg);
    }
}

@media screen and (min-width: 768px) {
     /*Footer*/
     picture.logo-footer img {
        width: 48%;
    }
}

@media screen and (min-width: 1024px) {
     /* Footer*/
     picture.logo-footer img {
        width: 50%;
    }
}

@media screen and (min-width: 1440px){
     /*FOOTER*/
     picture.logo-footer img {
        width: 40%;
    }
}