@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&family=Supermercado+One&display=swap');


/* NORMALIZACIÓN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }


/* VARIABLES */  

html {
    font-size: 62.5%;
    font-family:var(--roboto);
  }

:root{
    /* Colores ---- */  
    --negro: #000000;
    --blanco: #ffffff;
    --gris: #f4f4f4;
    --gris-medio: #e7e7e7;
    --gris-oscuro: #aaaaaa;
    --main-orange:#FFB978;
    --card-backGround:#FFF6F199;
    --dark-gray: #323231;



    /* Tamaños de fuentes ---- */
    --text-sm: 1.2em;
    --text-md: 1.6em;
    --text-lg: 1.8em;
    --title-md: 2.4em;
    --big-tittle:4.8em;

    /* Familias de fuentes ---- */
    --roboto: 'roboto';
    --lato:'Lato';
    --supermercado:'Supermercado One';
}

dl, ol, ul{
    margin-bottom: 0;
    padding-left: 0;
}

a{
    gap: .5em;
}

/* HEADER*/
header{
    background-color: var(--negro);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: var(--main-orange);
}



picture.logo img{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    align-items: center;
    padding: 1em;

}
.iconify.iconify--charm{
    font-size: 2em;
    margin: .5em;
}
nav.sticky-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--dark-gray);
    border-bottom: 2px var(--main-orange) solid;

   
}
nav.sticky-nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 1rem;
    list-style: none;
    padding: .5rem;
    font-family: 'Lato';
}
.menu{
    display: none;
}

div.menu.show{
    position: absolute;
    background-color: var(--dark-gray);
    width: 100%;
    top: 80%;
    left: 0;
    padding: 1em;
    border-bottom: 2px solid var(--main-orange);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
div.menu.show li{
    list-style: none;
}

nav.sticky-nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;    
    color: var(--main-orange);
    font-size: var(--text-md);
    font-family: var(--lato);
    text-align: center;
}

nav.sticky-nav input{
    border: none;
    padding-left:.5rem ;
    width: 100%;
    height: 2rem;
}
nav.sticky-nav input:focus{
    outline: none;
}

div.search-bar-container {
    width: 100%;
}

li.search-bar{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color: var(--blanco);
    padding: .5rem;
    border-radius: 6px;
    width: 100%;
    height: 2.5rem;
}

div.nav-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}

div.nav-text-container  ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}
.links-container {
    gap: 1em;
display: flex;
flex-direction: column;
}
ul.links-container ul{
    align-items: center;
    justify-content: flex-start;
    list-style: none;
}
.fa-user:before{
    color: var(--blanco);
}
img#profilePicture{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}


a.login-text {
    display: none;
}

/*ENDS HEADER*/
/*MEDIA QUERIES*/

@media screen and (min-width: 768px) {
    /*Header*/
    header {
        flex-direction: row;
    }
    picture.logo{
        flex-direction: row;
        width: 30%;
        justify-content: space-between;
        margin-top: 0;
    }
    picture.logo img {
        width: 80%;
        margin-bottom: 0;
    }
    div.nav-bar-header{
        position: relative;
        display: flex;
        align-items: center;
    }
    nav.sticky-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
    }

    nav.sticky-nav ul{
        width: 100%;
        margin-bottom: 0;
        gap: 2rem;
    }
    a.login-text{
        display: flex;
    }
    li.search-bar{
        padding: .7rem;
    }
    li.login-bar{
        gap: .3rem;
    }

    div.search-bar-container{
        align-items: center;
        justify-content: center;
        display: flex;
        width: 40%;
    }
    ul.nav-user-logged{display: flex;
        justify-content: flex-start;
    }
}
    


@media screen and (min-width: 1024px)  {

    /*HEADER*/

    picture.logo img {
        width: 70%;
    }

    nav.sticky-nav ul{
        gap: 2rem;
        justify-content: space-evenly;
    }
    div.nav-bar-header{
        width: 50%;
        gap: 1rem;
    }
    

    li.search-bar{
        width: 90%;
    }

    div.search-bar-container{
    
        width: 70%;
    }

    ul.nav-user-logged{display: flex;
        justify-content: flex-start;
    }
    
    .menu{
        display: block;
    }

    div.menu.show{
        position:relative;
        top: 0;
        width: 70%;
        display: flex;
        flex-direction: row;
        border: none;
        font-size: var(--text-sm);

    }
    nav.sticky-nav input{
        font-size: var(--text-sm);
        height: 2em;
    }
    div.menu.show li{
        height: 3em;
    }

    .links-container{
        flex-direction: row;
    }

    .burger-menu{
        display: none;
    }

}
